html {
	width: 100%;
	height: 100%;
}
body {
	width:100%;
	height:100%;
	margin: 0;
	color: #FFF;
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: 400;
	line-height: 1.25em;
}

h1 {
	font-weight: 800;
}
#canvas {
  float:right;
  width: 100%;  
  padding: 0;
  margin: 0;
  overflow-y:auto;
  height: 100%;
  opacity:0;
}
.iam {
	margin-left: 15%;
	margin-right: auto;
	opacity: 0;
	font-weight: 800;
	font-size: 5em;
	width: 20%;
}

.slideup {
	margin-top: 30px;
	opacity: .1;
}


#designer {
	margin-top: -10px;
}
#engineer {
	margin-top: -20px;
}
#innovator {
	margin-top: -30px;
}
#im {
	margin-left: 15%;
	margin-right: auto;
	width: 20%;
	font-size: 2em;
}
#title {
	position:absolute;
	top:20%;
	height: 100%;
	width: 100%;
	color: #000;
}
#name {
	margin: 5px;
	color: #000;
}

.work {
	position: relative;
	width: 50%;
	float: left;
	overflow:hidden;

	background-color:black;
}

.work .bottom {
	position: absolute;
	z-index: 100;
}

.work .bottom img {
	opacity: 1;
	max-width:100%;
	max-height:100%;
}

.work .overlay {
	position: absolute;
	z-index: 110;
	opacity: 1;
	height:100%;
	width:100%;

}
.work .overlay h1 {
	position: absolute;
	opacity: 0;
	font-size: 3.5em;
	bottom: 70%;
	right: 50%;
	margin: auto;
}

.work .overlay h2 {	
	position: absolute;
	opacity: 0;
	font-size: 1.25em;
	right: 50%;
	margin: auto;
	top: 30%;
}


