html, body {
	height: 100%;
	background-color: #EEE;
	background: url(../img/SimpleDesktops.png) repeat rgba(0,0,0,.9);
  	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
  	color: #222;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	letter-spacing: 2rem;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  	text-align: center;
  	position: relative;	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.section-heading,
.section-description {
  	margin-bottom: 1.2rem;
}

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.filter {
	position:absolute;
	top: 0;
	left: 0;
  	width: 100%;
  	height: 100%;
  	opacity: .7;
	background: url(../img/diagonals.png) repeat rgba(0,0,0,.6);
}
.black {
	background-color: rgba(0,0,0,.6);
}

.center {
	text-align: center;
}

.parallax {
	margin-top: 200;
}

/* SPLASH
-------------------------------------------------- */
.section.splash {
	height: 100%;
	color: white;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
  	width: 100%; 
  	height: 100%;
  	opacity: 1;
}

#name {
	margin-top: 30%;
	color: white;
	margin-bottom: 20px;

}

#hint {
	position: absolute;
	top: 90%;
	color: white;
	width: 100%;
	text-align: center;
}

#controls {
	position: absolute;
	top: 3%;
	right: 3%;
	z-index: 999;
}

.control {
	width: 50px;
	height: 50px;
	float: right;
}
/* Nav
-------------------------------------------------- */
#nav {
	height: 20%;
}

.nav-item {
	transition: color .5s;
	margin-bottom: 5%;
}

/* About
-------------------------------------------------- */
.about {
	width: 100%;
	height: 100%;
	padding-top: 20%;
	color: black;
	text-align: left;
}

.about p {
	color: #666;
}

.about img {
	width: 100%;
}

#catchphrase {
	padding-top: 30%;
}

/* RESUME
------------------------------------------------- */
.resume {
	height: 100%;
	text-align: left;
	color: #666;
}

.resume h1 {
	text-align: right;
	color: #222;
}

.resume h5, h6 {
	margin-bottom: 0;
	color: #000;
}

.resume .title {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .3rem;
}

.resume .tagline {
	font-weight: 800;
}

.resume .row {
	padding-top: 5%;
}

/* Work
-------------------------------------------------- */

.works {
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;

}

.work {
	position: relative;
	width: 100%;
	height: 60%;
	overflow: hidden;
	text-align: left;
	background-color: black;
}

.work .bottom {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.work .bottom img {
	opacity: 1;
	width: 100%;
}

.work .overlay {
	position: absolute;
	z-index: 110;
	opacity: 1;
	height: 100%;
	width: 100%;

}

.work .overlay h1 {
	position: absolute;
	opacity: 0;
	bottom: 70%;
	left: 5%;
	margin: auto;
	width: 100%;
}

.work .overlay h2 {	
	position: absolute;
	opacity: 0;
	font-size: 1.25em;
	left: 5%;
	margin: auto;
	top: 30%;
	width: 100%;
}
/* Contact
-------------------------------------------------- */
.contact {
	height: 90%;
	padding-top: 40%;
}

.contact .row {
	padding-top: 5%;
}

.contact a {
	text-decoration: underline;
}
